<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufg.inf.dosador"
    android:installLocation="preferExternal">

    <!-- Permissão para acesso a Rede -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permissão para acesso a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_dosador"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".app.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".app.CadastroActivity"
            android:label="@string/title_activity_cadastro"></activity>
        <activity
            android:name=".app.ResumoDiarioActivity"
            android:label="@string/title_activity_resumo_diario"></activity>
        <activity
            android:name=".app.RelatorioActivity"
            android:label="@string/title_activity_relatorio">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ResumoDiarioActivity" />
            </activity>
        <activity
            android:name=".app.ConsumoDiarioActivity"
            android:label="@string/title_activity_consumo_diario">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ResumoDiarioActivity" />
            </activity>
        <activity
            android:name=".app.PesquisaActivity"
            android:label="@string/title_activity_pesquia"
            android:launchMode="singleTop"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.ConsumoDiarioActivity" />
        </activity>
        <activity
            android:name=".app.DetalhesPesquisaActivity"
            android:label="@string/title_activity_detalhes_pesquisa">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.PesquisaActivity" />
        </activity>
        <activity
            android:name=".app.DetalhesAlimentoActivity"
            android:label="@string/title_activity_detalhes_alimento">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".app.DetalhesPesquisaActivity" />
        </activity>
        <activity
            android:name=".app.UsuarioActivity"
            android:label="@string/title_activity_ususuario">
        </activity>
        <provider
            android:name=".data.DosadorProvider"
            android:authorities="br.ufg.inf.dosador.app" />
    </application>

</manifest>
