<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufg.inf.dosador"
    android:installLocation="preferExternal" >

    <!-- Permissão para acesso a Rede -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Permissão para acesso a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.ufg.inf.dosador.app.MainActivity"
            android:label="@string/app_name" >
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
        <activity
            android:name="br.ufg.inf.dosador.temp.MainActivity2"
            android:label="@string/title_activity_main_activity2" >
        </activity>
        <activity
            android:name="br.ufg.inf.dosador.app.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="br.ufg.inf.dosador.app.CadastroActivity"
            android:label="@string/title_activity_cadastro" >
        </activity>
        <activity
            android:name="br.ufg.inf.dosador.app.ResumoDiarioActivity"
            android:label="@string/title_activity_resumo_diario" >
        </activity>
        <activity
            android:name="br.ufg.inf.dosador.app.RelatorioActivity"
            android:label="@string/title_activity_relatorio" >
        </activity>
        <activity
            android:name="br.ufg.inf.dosador.app.ConsumoDiarioActivity"
            android:label="@string/title_activity_consumo_diario" >
        </activity>
        <activity
            android:name="br.ufg.inf.dosador.app.PesquisaActivity"
            android:label="@string/title_activity_pesquia" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.ufg.inf.dosador.app.DetalhesPesquisaActivity"
            android:label="@string/title_activity_detalhes_pesquisa" >
        </activity>
        <activity
            android:name="br.ufg.inf.dosador.app.DetalhesAlimentoActivity"
            android:label="@string/title_activity_detalhes_alimento" >
        </activity>
    </application>

</manifest>
